.login {
    text-align: center;
    margin-block: 50px;

    h2 {
        color: $clr3;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            background-color: transparent;
            color: $clr1;
            border-radius: 30px;
            border: 1px $clr3 solid;
            padding: 5px 20px;
            transition: .3s background-color;

            &:hover {
                background-color: $clr3;
                color: $clr0;
            }
        }
    }

}