.share-preview {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.178);
    min-height: 200px;
    background-color: $clr2;

    button {
        border: 1px $clr3 solid;
        margin-top: 10px;
        transition: .3s background-color;
        transition: .1s color;

        &:hover {
            background-color: $clr3;
            color: $clr0;
        }
    }
}